<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>roll(heading:speed:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>滚动</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>按指定的前进方向和速率滚动 R2-D2。前进方向的范围为 0° 到 360°，速率的范围为 0 到 255。</string>
				<key>Title</key>
				<string>roll(heading:speed:)</string>
			</dict>
		</dict>
		<key>stopRoll()</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>滚动</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>设置目标速率为 0，让 R2-D2 停止。</string>
				<key>Title</key>
				<string>stopRoll()</string>
			</dict>
		</dict>
		<key>wait(for:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>滚动</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>等待数秒然后再运行下一步代码。</string>
				<key>Title</key>
				<string>wait(for:)</string>
			</dict>
		</dict>
		<key>setFrontPSILed(color:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/05-Lights.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>灯光</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>更改 R2-D2 圆顶前面 LED 灯的颜色。你可以通过传递`.black`关掉灯。</string>
				<key>Title</key>
				<string>setFrontPSILed(color:)</string>
			</dict>
		</dict>
		<key>setBackPSILed(color:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/05-Lights.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>灯光</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>更改 R2-D2 圆顶后面 LED 灯的颜色。你可以通过传递`.black`关掉灯。</string>
				<key>Title</key>
				<string>setBackPSILed(color:)</string>
			</dict>
		</dict>
		<key>setHoloProjectorLed(brightness:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/05-Lights.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>灯光</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>设置全息投影仪 LED 的亮度，仅为白色。</string>
				<key>Title</key>
				<string>setHoloProjectorLed(brightness:)</string>
			</dict>
		</dict>
		<key>setLogicDisplayLeds(brightness:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/05-Lights.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>灯光</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>设置两个逻辑显示屏 LED 的亮度，仅为白色。</string>
				<key>Title</key>
				<string>setLogicDisplayLeds(brightness:)</string>
			</dict>
		</dict>
		<key>setDomePosition(angle:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/03-HeadSwivel.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>圆顶旋转</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>设置 R2-D2 圆顶的角度。</string>
				<key>Title</key>
				<string>setDomePosition(angle:)</string>
			</dict>
		</dict>
		<key>setStance(_:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>滚动</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>设置 R2-D2 的站位。在`.bipod`、`.tripod`或`.waddle`之间更改。传递`.stop`来停止行走。</string>
				<key>Title</key>
				<string>setStance(_:)</string>
			</dict>
		</dict>
		<key>play(sound:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>滚动</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>在 R2-D2 上播放声音。</string>
				<key>Title</key>
				<string>play(sound:)</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>