<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>roll(heading:speed:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Fait rouler ton robot à une vitesse donnée dans une direction donnée. La vitesse va de 0 à 255 et la direction est comprise entre 0° et 360°.</string>
				<key>Title</key>
				<string>roll(heading:speed:)</string>
			</dict>
		</dict>
		<key>stopRoll()</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Règle la vitesse de ton robot sur 0 et le fait s’arrêter.</string>
				<key>Title</key>
				<string>stopRoll()</string>
			</dict>
		</dict>
		<key>wait(for:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit un temps d&apos;attente mesuré en secondes avant d’exécuter la séquence de code suivante.</string>
				<key>Title</key>
				<string>wait(for:)</string>
			</dict>
		</dict>
		<key>setFrontPSILed(color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Modifie la couleur de la LED avant du dôme de R2-D2. Le paramètre `color` peut être `.blue` ou `.red`. Pour éteindre la LED, passe en `.black`. **Disponible uniquement sur R2-D2**</string>
				<key>Title</key>
				<string>setFrontPSILed(color:)</string>
			</dict>
		</dict>
		<key>setBackPSILed(color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Modifie la couleur de la LED arrière du dôme de R2-D2. Le paramètre `color` peut être `.green` ou `.yellow`. Pour éteindre la LED, passe en `.black`. **Disponible uniquement sur R2-D2**</string>
				<key>Title</key>
				<string>setBackPSILed(color:)</string>
			</dict>
		</dict>
		<key>setBackLed(brightness:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit la luminosité de la LED arrière, qui s&apos;allume uniquement en bleu. La luminosité est comprise entre 0 et 255. **Non disponible sur R2-D2**</string>
				<key>Title</key>
				<string>setBackLed(brightness:)</string>
			</dict>
		</dict>
		<key>setHoloProjectorLed(brightness:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit la luminosité de la LED de l&apos;holoprojecteur, qui ne s&apos;allume qu&apos;en blanc. **Disponible uniquement sur R2-D2**</string>
				<key>Title</key>
				<string>setHoloProjectorLed(brightness:)</string>
			</dict>
		</dict>
		<key>setCollisionDetection(configuration:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Active ou désactive la détection de collision : utilise les configurations `.enabled` (activé) et `.disabled` (désactivé).</string>
				<key>Title</key>
				<string>setCollisionDetection(configuration:)</string>
			</dict>
		</dict>
		<key>setLogicDisplayLeds(brightness:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit la luminosité des LED des voyants logiques, qui ne s&apos;allument qu&apos;en blanc. **Disponible uniquement sur R2-D2**</string>
				<key>Title</key>
				<string>setLogicDisplaysLed(brightness:)</string>
			</dict>
		</dict>
		<key>setHeadLed(brightness:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit la luminosité de la LED de la tête du robot. **Disponible uniquement sur BB-9E**</string>
				<key>Title</key>
				<string>setHeadLed(brightness:)</string>
			</dict>
		</dict>
		<key>setDomePosition(angle:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit l&apos;angle du dôme de R2-D2. **Disponible uniquement sur R2-D2**</string>
				<key>Title</key>
				<string>setDomePosition(angle:)</string>
			</dict>
		</dict>
		<key>setStance(_:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit la posture de R2-D2, entre `.bipod`, `.tripod` ou `.waddle`. Passe en `.stop` pour arrêter de bouger. **Disponible uniquement sur R2-D2**</string>
				<key>Title</key>
				<string>setStance(_:)</string>
			</dict>
		</dict>
		<key>play(sound:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Fait jouer un son à R2-D2. **Disponible uniquement sur R2-D2**</string>
				<key>Title</key>
				<string>play(sound:)</string>
			</dict>
		</dict>
		<key>accelerometer sensor</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Accélération en 3 dimensions (x : droite/gauche, y : avant/arrière, z : haut/bas). Elle est mesurée en force g de -8 à 8 g et est stockée dans la propriété `accelerometer` de `SensorControlData`.</string>
				<key>Title</key>
				<string>capteur de l&apos;accéléromètre</string>
			</dict>
		</dict>
		<key>addCollisionListener(_:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Enregistre une fonction appelée lorsque le robot entre en collision avec quelque chose. Les détails de la collision sont donnés dans `collisionData`.</string>
				<key>Title</key>
				<string>addCollisionListener(_:)</string>
			</dict>
		</dict>
		<key>addSensorListener(_:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Enregistre une fonction appelée lorsque le robot reporte des données de capteur. Les données de capteur sont fournies dans `sensorData`.</string>
				<key>Title</key>
				<string>addSensorListener(_:)</string>
			</dict>
		</dict>
		<key>addJoystickListener(_:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Enregistre une fonction appelée lorsque tu bouges le joystick à l&apos;écran.</string>
				<key>Title</key>
				<string>addJoystickListener(_:)</string>
			</dict>
		</dict>
		<key>addAimHeadingListener(_:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Enregistre une fonction appelée lorsque tu bouges le contrôle de l&apos;orientation à l&apos;écran.</string>
				<key>Title</key>
				<string>addAimHeadingListener(_:)</string>
			</dict>
		</dict>
		<key>addAimStartListener(_:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Enregistre une fonction appelée lorsque l&apos;interaction avec le contrôle de l&apos;orientation à l&apos;écran commence.</string>
				<key>Title</key>
				<string>addAimStartListener(_:)</string>
			</dict>
		</dict>
		<key>addAimStopListener(_:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Enregistre une fonction appelée lorsque l&apos;interaction avec le contrôle de l&apos;orientation à l&apos;écran se termine.</string>
				<key>Title</key>
				<string>addAimStopListener(_:)</string>
			</dict>
		</dict>
		<key>resetLocator()</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Réinitialise les positions x et y actuelles du localisateur.</string>
				<key>Title</key>
				<string>resetLocator()</string>
			</dict>
		</dict>
		<key>disableSensors()</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Désactive la transmission des capteurs.</string>
				<key>Title</key>
				<string>disableSensors()</string>
			</dict>
		</dict>
		<key>enableSensors(sensorMask:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Active la transmission des capteurs. Tu peux sélectionner les capteurs que tu veux activer (localisateur, accéléromètre, gyroscope, orientation) avec un `sensorMask`. Utilise `addSensorListener` pour détecter des données de capteur.</string>
				<key>Title</key>
				<string>enableSensors(sensorMask:)</string>
			</dict>
		</dict>
		<key>gyroscope sensor</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Fréquence de rotation autour d&apos;un axe (x, y, z). Il est mesuré en degrés par seconde de -2 000º à 2 000º et est stocké dans la propriété `gyro` de `SensorControlData`.</string>
				<key>Title</key>
				<string>capteur du gyroscope</string>
			</dict>
		</dict>
		<key>locator sensor</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Position (x, y) et vitesse. La position est la distance depuis le point d&apos;origine du localisateur, elle est mesurée en centimètres. La vitesse est mesurée en centimètres par seconde et est stockée dans la propriété `locator` de `SensorControlData`.</string>
				<key>Title</key>
				<string>capteur de localisation</string>
			</dict>
		</dict>
		<key>orientation sensor</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Orientation sur chaque axe (lacet, tangage et roulis). Elle est mesurée en degrés de -180º à 180º et est stockée dans la propriété `orientation` de `SensorControlData`.</string>
				<key>Title</key>
				<string>capteur d&apos;orientation</string>
			</dict>
		</dict>
		<key>setMainLed(color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Modifie la couleur des LED principales. Passe un objet `UIColor` comme argument. Pour éteindre les LED, passe en `.black`. **Non disponible sur R2-D2**</string>
				<key>Title</key>
				<string>setMainLed(color:)</string>
			</dict>
		</dict>
		<key>setStabilization(state:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Active ou désactive le système de stabilisation, utilisé pour orienter le robot. Par défaut, la stabilisation est activée pour maintenir le robot droit dans sa coquille. **Non disponible sur R2-D2**</string>
				<key>Title</key>
				<string>setStabilization(state:)</string>
			</dict>
		</dict>
		<key>startAiming()</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Active le mode &quot;orientation&quot; pour que tu puisses définir la direction du robot vers l&apos;avant. Une fois le robot orienté, appelle `stopAiming()`.</string>
				<key>Title</key>
				<string>startAiming()</string>
			</dict>
		</dict>
		<key>stopAiming()</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Désactive le mode &quot;orientation&quot; et applique le nouvel angle d&apos;orientation.</string>
				<key>Title</key>
				<string>stopAiming()</string>
			</dict>
		</dict>
		<key>setFrontLed(color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Change la couleur du voyant avant sur BOLT. Passez un objet `UIColor` comme argument. Vous pouvez éteindre les lumières en passant dans `.black`. ** Disponible uniquement sur BOLT **</string>
				<key>Title</key>
				<string>setFrontLed(color:)</string>
			</dict>
		</dict>
		<key>setBackLed(color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Modifie la couleur de la lumière LED arrière sur BOLT. Passez un objet `UIColor` comme argument. Vous pouvez éteindre les lumières en passant dans `.black`. ** Disponible uniquement sur BOLT **</string>
				<key>Title</key>
				<string>setBackLed(color:)</string>
			</dict>
		</dict>
		<key>setMatrix(color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Change la matrice de LED entière en une seule couleur. Passez un objet `UIColor` comme argument. ** Disponible uniquement sur BOLT **</string>
				<key>Title</key>
				<string>setMatrix(color:)</string>
			</dict>
		</dict>
		<key>clearMatrix()</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Efface la matrice de LED et arrête tout texte défilant. ** Disponible uniquement sur BOLT **</string>
				<key>Title</key>
				<string>clearMatrix()</string>
			</dict>
		</dict>
		<key>setMatrix(rotation:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Définit la rotation de la matrice. Les rotations valides sont `.deg0`,` .deg90`, `.deg180` et` deg270`. La matrice restera en rotation jusqu&apos;à ce qu&apos;une autre fonction `setMatrix (rotation:)` soit appelée. ** Disponible uniquement sur BOLT **</string>
				<key>Title</key>
				<string>setMatrix(rotation:)</string>
			</dict>
		</dict>
		<key>drawMatrix(pixel:color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Remplit un seul pixel de la matrice de LED avec la couleur spécifiée. Les coordonnées de pixels valides vont de (0,0) à (7,7). ** Disponible uniquement sur BOLT **</string>
				<key>Title</key>
				<string>drawMatrix(pixel:color:)</string>
			</dict>
		</dict>
		<key>drawMatrixLine(from:to:color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Tracez une ligne sur la matrice de LED, avec la couleur spécifiée, en fonction des coordonnées de début et de fin (x, y). Les coordonnées de début et de fin valides vont de (0,0) à (7,7). ** Disponible uniquement sur BOLT**</string>
				<key>Title</key>
				<string>drawMatrixLine(from:to:color:)</string>
			</dict>
		</dict>
		<key>drawMatrix(fillFrom:to:color:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Remplit la matrice avec la couleur spécifiée du pixel de début au pixel de fin. Les coordonnées de pixels valides vont de (0,0) à (7,7). **Disponible uniquement sur BOLT**</string>
				<key>Title</key>
				<string>drawMatrix(fillFrom:to:color:)</string>
			</dict>
		</dict>
		<key>scrollMatrix(text:color:speed:loop:)</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Fait défiler le texte sur la matrice de LED dans la couleur spécifiée. Prend en charge jusqu&apos;à 26 caractères. Les caractères valides proviennent de `a-z`,` A-Z` et de &apos;0-9`. `speed` peut être compris entre 1-30`. La boucle peut être `.noLoop` ou` .loopForever`. **Disponible uniquement sur BOLT**</string>
				<key>Title</key>
				<string>scrollMatrix(text:color:speed:loop:)</string>
			</dict>
		</dict>
		<key>vertical acceleration</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Accélération par rapport au sol, sans tenir compte de l&apos;orientation. Elle est mesurée en force g de -8 à 8 g. À l&apos;arrêt, sa valeur est de 1 g. Stockée dans la propriété `verticalAcceleration` de `SensorControlData`.</string>
				<key>Title</key>
				<string>accélération verticale</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
