<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>roll(heading:speed:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rollen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Lässt R2-D2 mit einer angegeben Geschwindigkeit in eine ausgewählte Richtung rollen. (Ausrichtung: 0° - 360°, Geschwindigkeit: 0 - 255)</string>
				<key>Title</key>
				<string>roll(heading:speed:)</string>
			</dict>
		</dict>
		<key>stopRoll()</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rollen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Bringt die Zielgeschwindigkeit auf 0, um R2-D2 anzuhalten.</string>
				<key>Title</key>
				<string>stopRoll()</string>
			</dict>
		</dict>
		<key>wait(for:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rollen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Wartet einige Sekunden bis die nächste Codefolge ausgeführt wird.</string>
				<key>Title</key>
				<string>wait(for:)</string>
			</dict>
		</dict>
		<key>setFrontPSILed(color:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/05-Lights.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Lichter</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Ändert die Farbe der vorderen LED am Kopf von R2-D2. Du kannst das Licht ausschalten, indem du `.black` integrierst.</string>
				<key>Title</key>
				<string>setFrontPSILed(color:)</string>
			</dict>
		</dict>
		<key>setBackPSILed(color:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/05-Lights.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Lichter</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Ändert die Farbe der hinteren LED am Kopf von R2-D2. Du kannst das Licht ausschalten, indem du `.black` integrierst.</string>
				<key>Title</key>
				<string>setBackPSILed(color:)</string>
			</dict>
		</dict>
		<key>setHoloProjectorLed(brightness:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/05-Lights.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Lichter</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Stellt die Helligkeit der LED des Holoprojektors ein. Diese leuchtet ausschließlich weiß.</string>
				<key>Title</key>
				<string>setHoloProjectorLed(brightness:)</string>
			</dict>
		</dict>
		<key>setLogicDisplayLeds(brightness:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/05-Lights.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Lichter</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Stellt die Helligkeit der LED beider Logic-Displays ein. Diese leuchten ausschließlich weiß.</string>
				<key>Title</key>
				<string>setLogicDisplayLeds(brightness:)</string>
			</dict>
		</dict>
		<key>setDomePosition(angle:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/03-HeadSwivel.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Drehkopf</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Gibt den Winkel von R2-D2s Kopf an.</string>
				<key>Title</key>
				<string>setDomePosition(angle:)</string>
			</dict>
		</dict>
		<key>setStance(_:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rollen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Gibt die Stellung von R2-D2 an. Wechsle zwischen `.bipod`, `.tripod` oder `.waddle`. Baue `.stop` ein, damit er aufhört zu watscheln.</string>
				<key>Title</key>
				<string>setStance(_:)</string>
			</dict>
		</dict>
		<key>play(sound:)</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>01-Basics.playgroundchapter/02-Roll.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Rollen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Spiele einen Sound mit R2-D2 ab.</string>
				<key>Title</key>
				<string>play(sound:)</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>